main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #d3c313;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

/* more styling */
.bg {
  background: linear-gradient(45deg, #4CAF50, #45a049);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.category-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px; /* Increased margin for better spacing */
}

.category-tab {
  padding: 10px;
  border-radius: 10px; /* Increased border-radius for rounded corners */
  background-color: #f0f0f0;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Smooth transition effect */
}

.category-tab.active {
  background-color: rgb(159, 150, 150);
}

.card {
  background: linear-gradient(45deg, #4CAF50, #45a049);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
}

body {
  background-image: url("C:\develop\shop\frontend\src\assets\bg-web-size.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.btn:hover {
  background-color: #555;
  color: #ddd;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
