main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
  color: black;
}

/* more styling */
.card {
   background: linear-gradient(to bottom, #ebe8e8, #216624);
  color: #ffffff; /* Set text color to white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
}

/* path */
/* background-image: url('C:\develop\shop\frontend\src\assets\bg.jpeg'); */

body {
  background-image: url('C:\develop\shop\frontend\src\assets\bg-web-size.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0; /* Remove default body margin */
}

/* body {
  background-color: rgb(11, 124, 54);
} */

.btn:hover {
  background-color: #555;
  color: #ddd;
}

.restaurant-title {
  font-family: "Pacifico", cursive;
  color: #342838;
  text-align: left;
  font-size: 2.2rem;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
