main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
  color: black;
}

/* more styling */
.card {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 4px;
}

body {
  background-color: #ffcc99;
}

.btn:hover {
  background-color: #555; /* Slightly lighter gray on hover */
  color: #ddd;
}

.restaurant-title {
  font-family: 'Pacifico', cursive; /* Applying Pacifico font */
  color: #342838; /* Darker Purple as an example */
  text-align: left; /* Adjust to your desired alignment */
  font-size: 2.2rem; /* Slightly larger font size */
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold; /* Making the text bolder */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Adjust the color code, alignment, and other properties to your preference */
}

.link {
  text-decoration: none;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
